.support {
  background-color: rgb(91, 83, 64);
  color: #F9F9F0;
  text-align: center;
  height: 100%;
  font-family: var(--main-font-family)
}
.support-header {
  margin: 0 auto;
  padding-top: 5vh;
  max-width: 90vw;
}
.support-form {
  max-width: 650px;
  margin: 10px auto;
}
.support-form-header {
  padding-top: 20px;
}
.support-form-inner {
  background-color: rgba(216, 119, 67, 0.863);
  max-width: 90%;
  margin: 0 auto 25px;
  border-radius: 10px;
}
.support-input-container {
  max-width: 88%;
  margin: 5%;
}
.support-name-container, .support-email-container, .support-phone-container, .support-message-container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  
}
.support-label {
  flex: 1;
  font-size: 1em;
  text-align: left;
}
.support-input {
  flex: 3;
  font-size: 1em;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}
.support-radio-container {
  margin: 0 auto;
  max-width: 85%;
}
.support-radio-header {
  font-size: 1.2em;
}
.support-radio-flex {
  display: flex;
  flex-direction: row;
}
.support-radio-left-left {
  flex: 2;
}
.support-radio-right-right {
  flex: 1
}
.support-radio-left {
  flex: 1;
  text-align: left;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.support-radio-right {
  flex: 15;
  text-align: left;
  font-size: 1em;
}
.support-radio-right:hover > .checkbox{
    background-color: #b9b8b3;
}
.support-radio-right:active > .checkbox{
  background-color: white;
  -webkit-box-shadow: inset 2px 2px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 2px 2px 3px 0px rgba(0,0,0,0.75);
  box-shadow: inset 2px 2px 3px 0px rgba(0,0,0,0.75);
}
.checkbox {
  display: inline-block;
  height: 1.4em;
  width: 1.4em;
  background-color: #787262;
  border-radius: 50%;
  border: 2px solid #F9F9F0;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
}
.support-radio-clicked {
  background-color: white;
  border: 1px solid #F9F9F0;
  -webkit-box-shadow: inset 2px 2px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 2px 2px 3px 0px rgba(0,0,0,0.75);
  box-shadow: inset 2px 2px 3px 0px rgba(0,0,0,0.75);
}

.support-message-container {
  height: 15vh;
}
.support-message {
}

/* .support-button-container {
  padding-bottom: 25px;
} */
.support-button {
  margin: 0 auto 25px;
  width: 140px;
  border-radius: 10px;
  color: #F9F9F0;
  border: 1px solid #F9F9F0;
  background-color: #36307B;
  -webkit-box-shadow: 3px 3px 7px 0px rgba(54,48,123,1);
  -moz-box-shadow: 3px 3px 7px 0px rgba(54,48,123,1);
  box-shadow: 3px 3px 7px 0px rgba(54,48,123,1);
  padding: 10px;
  font-size: 25px;
}
.support-button:hover {
  background-color: #4940a5;
}
.support-button:active {
  background-color: #302b6e;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(48,43,110,1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(48,43,110,1);
  box-shadow: 0px 0px 7px 0px rgba(48,43,110,1);
}

.support-success-popup, .support-failure-popup {
  width: 300px;
  min-height: 220px;
  max-height: 20%;
  position: absolute;
  top: 40vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid #F9F9F0;
  padding: 15px;
  border-radius: 10px;
}
.support-success-popup {
  background-color: #2f2b6eec;
}
.support-failure-popup {
  background-color: #df4d4dec;
}
.support-success-popup h4, .support-failure-popup h4 {
  margin-top: 10px;
}
.support-success-popup button, .support-failure-popup button {
  margin: 10px 0 5px;
  color: #161511;
  font-size: 1.5em;
  font-weight: bold;
  background-color:  rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 10px;
  border: 3px solid rgb(80, 202, 121);
}

@media (min-width: 402px) {
  .support-radio-right {
    font-size: 1.5em;
  }
  .checkbox {
    height: 1.5em;
    width: 1.5em;
  }
  .support-success-popup {
    width: 365px;
    height: 150px;
  }
}
